# Requires homing. Preserves baseline brush path; leaves nozzle raised.
[gcode_macro CLEAN_NOZZLE]
gcode:
    _REQUIRE_HOMED
    SAVE_GCODE_STATE NAME=clean_nozzle_state
    G90
    G1 Z{[printer.gcode_move.gcode_position.z, 10]|max} F300
    G1 X348 Y0 F9000
    G1 Z0.5 F300
    M117 Nozzle heating...
    M109 S220
    G91
    G1 Z10 F300
    G90
    M106 S255
    M117 Clean nozzle
    G1 X240 Y360 F9000
    G1 Z0.5 F300 # was G1 Z-1.5 F300, added 2mm
    G1 X245 F4800
    G1 Y358 X271
    G1 X245
    G1 Y358 X271
    G1 X255
    G1 Y360 X271
    G1 X255
    G1 Y360 X271
    G1 X245
    G1 Y362 X271
    G1 X245
    G1 Y362 X271
    G1 X255
    G1 Y363 X271
    G1 X255
    G1 Y362 X271
    G1 X245 F9000
    G1 Y358 X271
    G1 X245
    G1 Y358 X271
    G1 X255
    G1 Y360 X271
    G1 X255
    G1 Y360 X271
    G1 X245
    G1 Y362 X271
    G1 X245
    G1 Y362 X271
    G1 X255
    G1 Y363 X271
    G1 X255
    G1 Y362 X271
    G1 X245
    M400
    M117 Finished cleaning
    M107
    G91
    G1 Z10 F300
    G90
    M106 S{printer.fan.speed * 255}
    RESTORE_GCODE_STATE NAME=clean_nozzle_state
