# Native safe_z_home owns clearance and Eddy Z homing.
[gcode_macro HOME_ALL]
description: Sensorless Y, retreat, X, retreat, then native Eddy Z home
gcode:
    BED_MESH_CLEAR
    _HOME_Y_SENSORLESS
    _HOME_X_SENSORLESS
    G28 Z

[gcode_macro _HOME_Y_SENSORLESS]
gcode:
    G4 P2000
    G28 Y
    G90
    G1 Y360 F1200
    M400

[gcode_macro _HOME_X_SENSORLESS]
gcode:
    G4 P2000
    G28 X
    G90
    G1 X348 F1200
    M400

[gcode_macro _REQUIRE_HOMED]
gcode:
    {% if 'xyz' not in printer.toolhead.homed_axes %}
        {action_raise_error("Home XYZ before this operation.")}
    {% endif %}

[gcode_macro CENTER]
description: Move a homed nozzle to bed center
gcode:
    _REQUIRE_HOMED
    SAVE_GCODE_STATE NAME=center_state
    G90
    G0 X175 Y175 F5000
    RESTORE_GCODE_STATE NAME=center_state
